@page
@model LibAtHomeWebApp.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to privide genereal information about Library At Home Project.</p>